// COLOURS

:root {
  // Mains
  --color-highlight: #a445ed;
  --color-red: #ff5252;

  // Black and White
  --color-white: #fff;
  --color-black: #050505;

  // Light Grays
  --color-light-gray-1: #f4f4f4;
  --color-light-gray-2: #e9e9e9;
  --color-light-gray-3: #757575;

  // Dark Grays
  --color-dark-gray-1: #3a3a3a;
  --color-dark-gray-2: #2d2d2d;
  --color-dark-gray-3: #1f1f1f;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Inconsolata", monospace;

  --padding-mobile: 2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 48em) {
    font-size: 50%;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
}

input {
  font: inherit;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  font-family: var(--font-sans);
  font-size: 1.6rem;
  color: var(--color-dark-gray-2);
  background-color: var(--color-white);

  transition: all 0.3s;
}

.container {
  margin: 5.8rem auto 10rem auto;
  padding-left: var(--padding-mobile);
  padding-right: var(--padding-mobile);

  max-width: calc(75rem + var(--padding-mobile) * 2);
  min-height: calc(100vh - 5.8rem - 10rem);
  min-height: calc(100dvh - 5.8rem - 10rem);
}
