.header {
  margin-bottom: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__options {
    display: flex;
    align-items: center;
  }

  &__font-dropdown {
    position: relative;
  }

  &__font-btn {
    cursor: pointer;
    padding: 1rem;
    margin-right: 0.6rem;

    background-color: transparent;
    border: none;

    display: flex;
    gap: 1.6rem;
    align-items: center;

    color: inherit;
    font-family: inherit;
  }

  &__font {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  &__divider {
    width: 1px;
    height: 3.2rem;
    background-color: var(--color-light-gray-2);
  }

  &__theme {
    padding: 1rem;
    margin-left: 0.6rem;

    display: flex;
    gap: 1.6rem;
    align-items: center;
  }

  &__toggle {
    cursor: pointer;
    appearance: none;
    position: relative;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: var(--color-light-gray-3);
    transition: all 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      height: 1.4rem;
      width: 1.4rem;
      background-color: var(--color-white);
      transition: all 0.3s;
    }

    &:checked {
      background-color: var(--color-highlight);
    }

    &:checked::after {
      left: 75%;
    }
  }

  &__toggle:checked + &__nightmode-icon {
    stroke: var(--color-highlight);
  }

  &__nightmode-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    transition: all 0.3s;

    fill: none;
    stroke: var(--color-light-gray-3);
  }
}

.dropdown {
  cursor: default;
  position: absolute;
  top: 4rem;
  right: 0;

  width: 18rem;
  padding: 2.4rem;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  gap: 1.6rem;

  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);

  z-index: 5;

  opacity: 0;
  pointer-events: none;

  transition: all 0.3s;

  &__option {
    cursor: pointer;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 800;
    width: 100%;

    &--sans {
      font-family: "Inter", sans-serif;
    }

    &--serif {
      font-family: "Lora", serif;
    }

    &--mono {
      font-family: "Inconsolata", monospace;
    }

    &:hover {
      color: var(--color-highlight);
    }
  }

  &--active {
    pointer-events: all;
    opacity: 1;
  }
}
