.search {
  margin-bottom: 4.5rem;
  position: relative;

  &__field {
    font-size: 2rem;
    font-weight: 700;

    width: 100%;
    padding: 2rem 6.4rem 2rem 2.4rem;
    color: inherit;

    border: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;

    background-color: var(--color-light-gray-1);
    transition: all 0.5s;

    transform: translateZ(0);

    &::placeholder {
      // color: var(--color-dark-gray-2);
      color: inherit;
      opacity: 0.25;
    }

    &:focus:not(&--empty) {
      outline: none;
      border: 1px solid var(--color-highlight);
    }

    &--empty {
      outline: none;
      border: 1px solid var(--color-red);
    }
  }

  &__error {
    position: absolute;
    text-align: left;
    margin-top: 0.8rem;
    color: var(--color-red);
    font-size: 2rem;
    z-index: -1;
    transform: translateY(-3rem);
    opacity: 0;
    transition: all 0.2s;
  }

  &__field--empty ~ &__error {
    transform: none;
    opacity: 1;
  }

  &__submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.8rem;

    padding: 1.6rem;

    border: none;
    background-color: transparent;

    cursor: pointer;
  }
}
